option_settings:
  - option_name: APP_SECRET
    value: placeholder-value-change-me
  - option_name: AWS_USER
    value: placeholder-value-change-me
  - option_name: AWS_PW
    value: placeholder-value-change-me
  - option_name: AWS_DB
    value: placeholder-value-change-me
  - option_name: AWS_INSTANCE
    value: placeholder-value-change-me
  - option_name: AWS_SECRET_ACCESS_KEY
    value: placeholder-value-change-me
  - option_name: AWS_ACCESS_KEY_ID
    value: placeholder-value-change-me